@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

button {
    font-family: 'Inter', sans-serif;
    width: 310px;
    height: 43px;
    border-radius: 8px;
    background-color: #32ABF2;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #134267;
    margin-top: 32px;
    margin-bottom: 8px;
}

a {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: center;
}

.box {
    width: 350px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #4F637D;
}

.image_box {
    position: relative;
    display: inline-block;
}

.checkmark {
    position: absolute;
    top: -7px;
    right: 1px;
    width: 30px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
}

.checkmark::before {
    content: '✔';
}
