@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

.step {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5D7FA3;
    position: relative;
}

.active {
    color : #fff;
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 32px;
    width: 2px;
    height: 48px;
    background-color: #5D7FA3;
}

.step.completed::after {
    background-color: #32ABF2;
}

.circle {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    border: 2px solid #5D7FA3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_circle {
    border-color: #32ABF2;
}

.completed_circle {
    background-color: #32ABF2;
    border-color: #32ABF2;
}

.completed_circle::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 44px;
    height: 44px;
    border: 2px solid #32ABF2;
    border-radius: 50%;
    z-index: 1;
}

.step_title {
    position: relative;
}

.step_completed::before {
    content: '';
    position: absolute;
    left: -34px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 1.29px 1.29px 0;
    transform: rotate(45deg);
    opacity: 1;
}

.routing_buttons {
    width: 360px;
    height: 33px;
    display: flex;
    justify-content: space-between;
}

.btn_active {
    background-color: #134267;
}

.router_btn {
    border-radius: 4px;
    width: 84px;
    height: inherit;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #93ABC1;
}